<footer class="container">
	<section class="footer">
		<article>
			<h3>Contactanos</h3>
			<p>Telefono: +54 123 1234567</p>
			<p>Direccion: Av. Nosequeponer, Piso -1, Caldo de Pollo 3600 </p>
			<p></p>
		</article>
		<article>
			<h3>Nuestros horarios</h3>
			<p>De Lun. a Vie. de 08:30hs. a 17hs.</p>
			<!-- <p>Lunes 8:30 13:00 y de 17:00 21:00</p> -->
			<!-- <p>Martes 8:30 13:00 y de 17:00 21:00</p> -->
			<!-- <p>Miercoles 8:30 13:00 y de 17:00 21:00</p> -->
			<!-- <p>Jueves 8:30 13:00 y de 17:00 21:00</p> -->
			<!-- <p>Viernes 8:30 13:00 y de 17:00 21:00</p> -->
			<p>Sabado se duerme todo el dia</p>
		</article>
		<article>
			<h3>Ayuda</h3>
			<p>Te perdiste we? Toma un mapa</p>
		</article>
		<article>
			<h3>Seguinos en redes</h3>
			<a class="redes" href="#">
				<i class="fa-brands fa-facebook"></i>
			</a>
			<a class="redes" href="#">
				<i class="fa-brands fa-twitter"></i>
			</a>
			<a class="redes" href="#">
				<i class="fa-brands fa-instagram"></i>
			</a>
			<a class="redes" href="#">
				<i class="fa-brands fa-github"></i>
			</a>
		</article>
		<article>
			<h3>Defensa del consumidor</h3>
			<p>
				Apa papa, queres problemas we?
			</p>
		</article>
	</section>
	<p class="copy">
		Copyright © 2023. Todos los derechos reservados,
		prohibida la reproduccion total o parcial de los contenidos
		de esta página.
	</p>
</footer>