<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
	<%- include('../partials/header') %>
	<main class="container">
		<section class="iniciar-sesión">
			<div class="formulario">
				<h3>Iniciar sesión</h3>
				<button class="button1"><i class="fa-brands fa-google"></i>Iniciar sesión por Google</button>
				<form action="/users/login" method="post">
					<hr>
					<span class="texto-rayita">O bien por</span>
					<input class="controlar" type="email" name="email" id="email" placeholder="Email">
					<% if (locals.errors && errors.email) { %>
						<div><%= errors.email.msg %></div>
					<% } %>
					<input class="controlar" type="password" name="password" id="password" placeholder="Contraseña">
					<div class="user-options">
						<div class="rememberMe">
							<label for="rememberMe">Recuérdame</label>
							<input type="checkbox" name="rememberMe" id="rememberMe" value="true" checked>
						</div>

						<a href="#">
							<div class="olvidar-contraseña">He olvidado mi contraseña</div>
						</a>
					</div>
					<a><button class="boton" type="submit">Iniciar sesión</button></a>
					<hr>
					<span class="texto-rayita2">¿Eres nuevo cliente?</span>
				</form>
				<form action="/signup" method="post">
					<button class="boton2" type="submit">Crear cuenta</button>
				</form>
			</div>
			<div class="mensaje">
				<span><i class="fa-solid fa-car-side fa-flip-horizontal"></i></span>
				<h5 class="h5-1">Gestiona tus pedidos</h5>
				<div class="texto">Ten el control de todos tus pedidos y recibe notificaciones con el seguimiento
				</div>
				<span><i class="fa-solid fa-medal"></i></span>
				<h5 class="h5-2">Lista de deseos personalizada</h5>
				<div class="texto2">Guarda tus productos favoritos en las listas de deseos personalizadas</div>
			</div>
		</section>
	</main>
	<%- include('../partials/footer') %>
</body>

</html>