<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <main class="container">
        <div class="product-form">
            <h1>Añadir producto a la lista de ventas</h1>
            <form action="/products" method="POST" enctype="multipart/form-data">
                <input class="product-form__image" type="file" placeholder="Imagen" name="image" required>
                <input type="text" placeholder="Nombre del producto" name="name" required>
                <input type="number" placeholder="Precio" name="price" required>
                <input type="number" placeholder="Descuento" name="discount" required>
                <input type="text" placeholder="Título de la descripción" name="descriptionTitle" required>
                <textarea placeholder="Descripción" name="description" required></textarea>
                <input type="text" placeholder="Stock" name="stock" required>
                <textarea placeholder="Características del producto" name="specs" required></textarea>
                <input type="text" placeholder="Categoría" name="category" required>
                <input type="text" placeholder="Marca" name="brand" required>
                <input type="text" placeholder="Color (opcional)" name="color">
                <button type="submit" class="product-form__button">Agregar producto</button>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>