<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
        <main class="container">
            <section class="shopping-cart">
                <div class="shopping-cart__product">
                    <div class="shopping-cart__product__name">AMD Ryzen 7 5700G</div>
                    <img class="shopping-cart__product__image"
                        src="https://www.fullh4rd.com.ar/img/productos/1/micro-amd-ryzen-7-5700g-0.jpg"
                        alt="Procesador Ryzen 7 5700g">
                    <div class="shoppong-cart__product__info">
                        <div class="shopping-cart__product__info__code">730143313377</div>
                        <br>
                        <div class="shopping-cart__product__info__price"><i class="fa-solid fa-dollar-sign"></i>ARS
                            150.977</div>
                    </div>
                    <span class="shopping-cart__product__buttons">
                        <button class="shopping-cart__product__buttons__minus">&nbsp-&nbsp</button>
                        Cantidad
                        <button class="shopping-cart__product__buttons__plus">&nbsp+&nbsp</button>
                    </span>
                    <i class="fa-solid fa-trash"></i>
                </div>
                <div class="shopping-cart__product">
                    <div class="shopping-cart__product__name">Fury Beast Kingston DDR4 Rgb 16gb</div>
                    <img class="shopping-cart__product__image"
                        src="https://http2.mlstatic.com/D_NQ_NP_663264-MLA54956422012_042023-O.webp"
                        alt="Procesador Ryzen 7 5700g">
                    <div class="shoppong-cart__product__info">
                        <div class="shopping-cart__product__info__code">KF432C16BBA/16</div>
                        <br>
                        <div class="shopping-cart__product__info__price"><i class="fa-solid fa-dollar-sign"></i>ARS
                            24.999</div>
                    </div>
                    <span class="shopping-cart__product__buttons">
                        <button class="shopping-cart__product__buttons__minus">&nbsp-&nbsp</button>
                        Cantidad
                        <button class="shopping-cart__product__buttons__plus">&nbsp+&nbsp</button>
                    </span>
                    <i class="fa-solid fa-trash"></i>
                </div>
                <div class="shopping-cart__product">
                    <div class="shopping-cart__product__name">NVIDIA Gigabyte RTX 3060 8GB Gaming Oc Pcreg</div>
                    <img class="shopping-cart__product__image"
                        src="https://http2.mlstatic.com/D_NQ_NP_874513-MLA69836575647_062023-O.webp"
                        alt="Procesador Ryzen 7 5700g">
                    <div class="shoppong-cart__product__info">
                        <div class="shopping-cart__product__info__code">GV-N3060GAMING OC-8G</div>
                        <br>
                        <div class="shopping-cart__product__info__price"><i class="fa-solid fa-dollar-sign"></i>ARS
                            399.999</div>
                    </div>
                    <span class="shopping-cart__product__buttons">
                        <button class="shopping-cart__product__buttons__minus">&nbsp-&nbsp</button>
                        Cantidad
                        <button class="shopping-cart__product__buttons__plus">&nbsp+&nbsp</button>
                    </span>
                    <i class="fa-solid fa-trash"></i>
                </div>
                <div class="shopping-cart__product">
                    <div class="shopping-cart__product__name">ASUS A320m-k AMD A320 Ryzen 1ra Gen A-series 7</div>
                    <img class="shopping-cart__product__image"
                        src="https://http2.mlstatic.com/D_NQ_NP_923272-MLM43779520023_102020-O.webp"
                        alt="Procesador Ryzen 7 5700g">
                    <div class="shoppong-cart__product__info">
                        <div class="shopping-cart__product__info__code">PRIME A320M-K</div>
                        <br>
                        <div class="shopping-cart__product__info__price"><i class="fa-solid fa-dollar-sign"></i>ARS
                            58.199</div>
                    </div>
                    <span class="shopping-cart__product__buttons">
                        <button class="shopping-cart__product__buttons__minus">&nbsp-&nbsp</button>
                        Cantidad
                        <button class="shopping-cart__product__buttons__plus">&nbsp+&nbsp</button>
                    </span>
                    <i class="fa-solid fa-trash"></i>
                </div>
            </section>
            <section class="order-summary">
                <div class="order-summary__title">Resumen del pedido</div>
                <span class="order-summary__total-text">Total:</span>
                <span class="order-summary__price"><i class="fa-solid fa-dollar-sign"></i>ARS 634.174</span>
                <span class="order-summary__button">Continuar</span>
            </section>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>