<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
	<%- include('./partials/header') %>
		<main class="container">
			<section class="banner">
				<article class="saludo">
					<h1>¡Bienvenidos a (nombre de ecommerce)!</h1>
					<br>
					<p>¿Quieres armar una computadora para jugar o trabajar?</p>
					<br><br>
					<b>
						¡Estas en el lugar indicado! Aqui encontraras
						los mejores componentes computacionales del mercado.
					</b>
					<br><br>
					<p>Espera...</p>
					<br><br>
					<b>¿No te animas a ensamblar las piezas?</b>
					<br><br>
					<p>
						¡No hay problema! Podemos enviarte tu computadora con
						los componentes deseados lista para usar.
					</p>
					<br><br>
					<b>¡No te olvides de revisar nuestro catalogo de productos!</b>
				</article>
				<article class="carousel">
					<a href="/products/1"><img src="/img/product.jpg" alt=""></a>
				</article>
			</section>
			<section class="best-sellers">
				<h2>Productos mas vendidos</h2>
				<article class="carousel">
					<img src="/img/motherboard_a520mkv2_1.jpg" alt="">
				</article>
				<article class="brands">
					<img class="logo" src="/img/brands/nvidia-alt.png" alt="nvidia-logo">
					<img class="logo" src="/img/brands/amd.svg" alt="amd-logo">
					<img class="logo" src="/img/brands/ryzen.svg" alt="ryzen-logo">
					<img class="logo" src="/img/brands/asus.svg" alt="asus-logo">
					<img class="logo" src="/img/brands/hyperx.svg" alt="hyperx-logo">
					<img class="logo intel" src="/img/brands/intel.svg" alt="intel-logo">
					<img class="logo logitech" src="/img/brands/logitech.svg" alt="logitech-logo">
					<img class="logo" src="/img/brands/adata.svg" alt="adata-logo">
				</article>
			</section>
		</main>
		<%- include('./partials/footer') %>

</body>

</html>